{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid m-2">
    <div class="row mt-2">
        <div class="col-xl-7 col-sm-12">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="mb-0 text-center">PAYMENT CODE GENERATION</h6>
                        </div>
                    </div>
                </div>
                    <form method="post" novalidate class="m-3" autocomplete="off">
                        {% csrf_token %}
                        <div class="col">
                            <div class="form-row">
                                <div class="form-group col-sm-12 mb-0">
                                    {{ form.amount|as_crispy_field }}
                                </div>
                                <div class="form-group col-sm-12 mb-0">
                                    {{ form.password|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-sm btn-primary btn-block">GENERATE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}